
*{
  margin: 0;
  padding: 0;
    }

html {background: #f9f9f9;
    }

body {background: white ;
        margin: auto;
        padding: 20px 40px 20px 40px;
        width: 800px;
        height: 1200px;
        font-family: Myriad Pro Regular;
        font-size: 15px;
        border: 1px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        outline: 1px solid grey;
        }
h1 {padding-bottom: 35px;}

.fitness {font-family:Myriad Pro Regular;
        font-size: 50px;
        color: black;
        text-decoration: none;
        }

.img {height: 300;
    outline: 1px solid grey;
    
}
.menu li {float: left;
        list-style: none;
        }
.menu {display: inline-block;
        padding-top: 20px;
        height: 28px;
        width: 800px;
        font-size: 15px;
        background-color: #575656;
        }


.main {padding: 20px 50px 10px 10px;
        text-decoration: none;
        color: white;
        background-color: #575656;
}



.product {padding: 20px 50px 10px 10px;
            text-decoration: none;
            color: white;
            background-color: #575656;
            }



.info {padding: 20px 50px 10px 10px;
        text-decoration: none;
        color: white;
        background-color: #575656;
        }



.contakt {padding: 20px 50px 10px 10px;
            text-decoration: none;
            color: white;
            background-color: #575656;
            }

.main:hover{ background-color: #444444;
padding: inherit 1 0 1}
.product:hover{ background-color: #444444;}
.info:hover{ background-color: #444444;}
.contakt:hover{ background-color: #444444;}




.side-bar{float: left;
    padding-top: 38px;
    list-style: none;
    }
    
.phoun, .smart, .table, .nout, .comp {text-decoration: none;
                                        padding: 10px 10px 10px 10px;
                                        margin: 10px 10px 10px 10px;
                                        color: grey;
                                        }
.phoun:hover{color: black} 
.smart:hover{color: black} 
.table:hover{color: black} 
.nout:hover{color: black}
.comp:hover{color: black}

.box {height: 28px;
        width: 220px;
        outline: 1px solid grey;
        padding-top: 10px;
        padding-left: 10px;
     }



img { width: 500px;
        float: right;
    }

.content { width: 500px;
            padding: 20px 0px 20px 10px;
            float: right;
        }

.menu2 li {float: left;
        list-style: none;
        }

.menu2 {display: inline-block;
        padding-top: 20px;
        height: 28px;
        width: 800px;
        font-size: 15px;
        background-color:gainsboro;}

.main2 {padding: 20px 50px 10px 10px;
        text-decoration: none;
        color: black;
        }



.product2 {padding: 20px 50px 10px 10px;
            text-decoration: none;
            color: black;
            }



.info2 {padding: 20px 50px 10px 10px;
        text-decoration: none;
        color: black;
        }



.contakt2 {padding: 20px 150px 10px 10px;
            text-decoration: none;
            color: black;
            }

.main2:hover{text-decoration: underline}
.product2:hover{text-decoration: underline}
.info2:hover{text-decoration: underline}
.contakt2:hover{text-decoration: underline}

